@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
}

main {
  flex: 1;
  overflow: hidden;
}
